# ==========================
# Python
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================
# Ambiente Virtual
# ==========================
.venv/
venv/

# ==========================
# PyCharm
# ==========================
.idea/

# ==========================
# Banco de Dados
# ==========================
instance/
*.sqlite3

# ==========================
# Sistema Operacional
# ==========================
.DS_Store
Thumbs.db