{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <div class="card shadow">

        <div class="card-header bg-warning">
            <h3 class="mb-0">Editar Paciente</h3>
        </div>

        <div class="card-body">

            <form method="POST">

                <div class="mb-3">
                    <label class="form-label">
                        Nome
                    </label>

                    <input
                        type="text"
                        name="nome"
                        class="form-control"
                        value="{{ paciente.nome }}"
                        required>
                </div>

                <div class="mb-3">
                    <label class="form-label">
                        Idade
                    </label>

                    <input
                        type="number"
                        name="idade"
                        class="form-control"
                        value="{{ paciente.idade }}">
                </div>

                <div class="mb-3">
                    <label class="form-label">
                        Telefone
                    </label>

                    <input
                        type="text"
                        name="telefone"
                        class="form-control"
                        value="{{ paciente.telefone }}">
                </div>

                <div class="mb-3">
                    <label class="form-label">
                        Email
                    </label>

                    <input
                        type="email"
                        name="email"
                        class="form-control"
                        value="{{ paciente.email }}"
                        required>
                </div>

                <button
                    type="submit"
                    class="btn btn-success">
                    Salvar Alterações
                </button>

                <a
                    href="/pacientes"
                    class="btn btn-secondary">
                    Cancelar
                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}
